/* A comment */
/* Another comment, directly after the first one */

--numericalConstant: 42;
--mathExpressionConstant: 10 ** (3 - 1);

--fontNameVariable  : "GillSans";
--fontSizeVariable: 42;
--nestedVariable : --fontNameVariable --fontSizeVariable;

.numbers {
  numberOne: 0.33;
  numberTwo: 5;
  expression: 10 ** (3 - 1);
}

/* A comment, between declarations */

.numericExpressions {
  number1: 2 > 1;
  number2: 2 * 3 - (2*2.5 + 0.5);
  number3: --numericalConstant + --mathExpressionConstant;
  number4: size(--numericalConstant, --mathExpressionConstant);
}

.booleans {
  bool1: YES; /* A comment, at the end of a line in a declaration */
  bool2: "YES";
  bool3: true;
  bool4: "true";
  bool5: NO;
  bool6: "NO";
  bool7: false;
  bool8: "false";
}

.points {
  point1: point(50, 50);
  point2 : (50, 50);
}

.rects {
  rect1: rect(1, 2, 3, 4);
  rect2: (1, 2, 3, 4);
  rect3 : "{{1,2},{3,4}}";
}

.sizes {
  size1: size(50, 50);
  size2: (50, 50);
}

.offsets {
  offset1: offset(50, 50);
  offset2: (50, 50);
}

.insets {
  inset1 : insets(1, 2, 3, 4);
  inset2: (1, 2, 3, 4);
}

.strings {
  string1: "Text's:";
  string2: 'Prompt';
  string3 : Title;
  string4: "dr \"evil\" rules";
  string5: L("Text");
  string6: localized('Title');
}

.colors {
  color1: rgb(128, 128, 128);
  color2 : rgba(64, 64, 64, 0.5);
  color3: blue;
  color4: #7F7F7F;
  color5: #4080B000;
  color6: #80000080;
  color7 : #8888;
  color8: #888;
}

.colorFunctions {
  color1: lighten(rgb(17, 34, 51), 50%);
  color2: darken(#112233, 50%);
  color3: saturate(rgb(17, 34, 51), 50%);
  color4: desaturate(#112233, 50%);
  color5: fadein(rgb(17, 34, 51), 50%);
  color6: fadeout(#112233, 50%);
  color7: saturate(fadeout(rgb(17, 34, 51), 50%), 50%);
  color8: saturate(fadeout(#112233, 50%), 50%);
}

--font1: HelveticaNeue-Medium 15;
.fonts {
  font1: --font1;
  font2: bigger(--font1, 1);
  font3: smaller(--font1, 1);
  font4: fontWithSize(--font1, 10);
  font5: HelveticaNeue-Medium 5;
  font6: "Courier" 5;
  font7: 'Avenir' 5;
  font8: 42;
  font9: system 42;
  font10: system-italic 42;
  font11: 42 systemBold;
  font12: 24 system-ultraLight;
  font13: --fontSizeVariable --fontNameVariable;
}

.transforms {
  transform1: rotate(10);
  transform2: rotate(10) scale(20,30) translate(40,50);
}

.enums {
  enum1: width height left right top bottom;
  enum2: bottomRight;
}

.parameters {
  params1__selected  : blue;
  params2__selected_highlighted  : blue;
}

.prefixes {
  layer.borderWidth: 10;
}

.images {
  image1: image.png;
  image2: "image.png";
  image3: 'image.png';
  image4: image(image.png);
  image5: image("image.png");
  image6: image('image.png');
  image7: image(image.png, 1, 2);
  image8: image(image.png, 1, 2, 3, 4);
}

.imageFromColor {
  image1: #112233;
  image2: lighten(#112233, 50%);
}

.imageColorFunctions {
  image: lighten(#112233, 50%);
  backgroundImage: saturate(fadeout(#112233, 50%), 50%);
}
