
/* Constants: */

@stdHeadingLabel: AvenirNextCondensed-DemiBold 20;
@stdTitleLabel: Avenir-Black 15;
@stdTitleColor: #5f5f5f;
@stdSubTitleLabel: Avenir-Light 14;
@stdButtonFont: HelveticaNeue-Light 14;

@stdColor1: rgb(16, 109, 255);
