

/* "Reset" default styles */

UIButton {
    backgroundImage: #e0e0e0;   // Color as background image
    backgroundImage(highlighted): #7f7f7f;
    borderColor: #7f7f7f;
    borderWidth: 0.5;
    cornerRadius: 6;
    clipsToBounds: YES;
    titleColor: #303030;
    titleColor(highlighted): white;
    font: @stdButtonFont;
}



/* Common stuff */

.tabBarStyle1 UITabBarItem {
    font: Avenir-Light 20;
    textColor: lightGray;
    textColor(selected): #b300fd;
    titlePositionAdjustment: offset(0, -10);
}

UITabBarItem.tab1 {
    font: Avenir-Heavy 20;
}

.mainTitleLabel {
    frame: sizeToFit(160, 50).left(15).top(30);
    textColor: rgb(255, 255, 255);
    font: @stdHeadingLabel;
    alpha: 1;
    backgroundColor: fadeout(lightGray, 75%);
    cornerRadius: 5;
    clipsToBounds: YES;
    attributedText: "Simple" (foregroundColor: #e1881e), " Sample " (foregroundColor: #3f3f3f), "Main" (foregroundColor: #ab45ec);
}

.mainTitleLabel:landscape { // Landscape orientation
    alpha: 0.5;
    textAlignment: center;
}



/* SimpleSampleViewController */


.simpleSampleMainView { // Root view of SimpleSampleViewController
    autoresizingMask: width height;
    backgroundColor: gradient(#e7abff, #e4e1e6);
}

.simpleSampleMainView .mainTitleLabel {
    shadowColor: fadeout(black, 50%);
    shadowOffset: size(1,1);
}

.mainTitleButton {
    frame: rect(15, 60, 120, 30);
}


// Content view and labels:

.simpleSampleContentView {
    bounds: size(200, 230);
    center: parent(0, 0);
    backgroundColor: desaturate(fadeout(@stdColor1, 50%), 30%);
    layer.cornerRadius: 10;
    clipsToBounds: YES;
    anchorPoint: point(0, 0);
    transform: rotate(-25);
}

.simpleSampleContentViewAtRest {
    transform: identity;
}

.simpleSampleContentTitleLabel {
    frame: sizeToFit(140, 30).left(auto).right(auto).top(10); // Size to fit and center horizontally
    textColor: rgb(255, 255, 255);
    font: smaller(@stdTitleLabel, 2);
}

.simpleSampleContentSubtitleLabel {
    frame: rect(20, 40, 160, 20);
    textColor: rgb(228, 228, 228);
    font: smaller(@stdSubTitleLabel, 3);
}


// Content buttons:

.simpleSampleButtonContainer {
    frame: rect(10, 80, 180, 140);
    backgroundColor: #88cc44;
}

.simpleSampleButtonContainer UIButton {
    backgroundImage: fadeout(white, 33%);
}

.simpleSampleMainButton1 {
    frame: size(160, 30).top(10).left(10);
    title: Top Button;
    font: AvenirNextCondensed-UltraLight 22;
}

.simpleSampleMainButton2 {
    bounds: size(160, 30);
    center: parent(0, 0);
    titleColor(highlighted): #b300fd;
    backgroundImage(highlighted): #d0d0d0;
    title: MainButton;
    transform: identity;
}

.simpleSampleMainButton3 {
    frame: size(160, 30).top(100).left(10);
    title: Bottom Button;
    font: HelveticaNeue-CondensedBold 14;
}

uibutton.touched {
    transform: rotate(180);
}
