
/* Variables: */
@stdFont1: HelveticaNeue-Medium 14;
@stdFont2: HelveticaNeue-CondensedBold 14;
@stdFont3: HelveticaNeue-CondensedBlack 18;
@stdFont4: HelveticaNeue-CondensedBlack 16;
@stdFont5: HelveticaNeue-CondensedBold 12;
@stdColor1: rgb(0, 0, 255);


/* Common stuff */

.tabBarStyle1 {
    translucent: NO;
}

.tabBarStyle1 UITabBarItem {
    font: HelveticaNeue-CondensedBlack 24;
    textColor: lightGray;
    textColor(selected): magenta;
    titlePositionAdjustment: offset(0, -10);
}

.mainTitleLabel {
    frame: rect(15, 30, 160, 30);
    textColor: rgb(255, 255, 255);
    font: @stdFont3;
    alpha: 1;
    backgroundColor: clear;
    cornerRadius: 5;
}

.mainTitleLabel:landscape { // Landscape orientation
    alpha: 0.5;
    textAlignment: center;
}

.mainSubtitleLabel {
    frame: rect(15, 60, 90, 20);
    textColor: rgb(255, 255, 255);
    font: @stdFont1;
    textAlignment: center;
    anchorPoint: point(0, 0);
    transform: rotate(5);
}

.mainSubtitleLabel:landscape { // Landscape orientation
    anchorPoint: point(0.5, 0.5);
    transform: rotate(180);
}


/* SimpleSampleViewController */


.simpleSampleMainView { // Root view of SimpleSampleViewController
    autoresizingMask: width height;
    backgroundColor: gradient(red, yellow);
}

.simpleSampleContentView {
    bounds: size(200, 230);
    center: parent(0, 0);
    backgroundColor: desaturate(fadeout(@stdColor1, 50%), 30%);
    layer.cornerRadius: 10;
    clipsToBounds: YES;
}

.simpleSampleContentTitleLabel {
    frame: rect(20, 10, 160, 30);
    textColor: rgb(255, 255, 255);
    font: smaller(@stdFont1, 2);
}

.simpleSampleContentSubtitleLabel {
    frame: rect(20, 40, 160, 20);
    textColor: rgb(196, 196, 196);
    font: smaller(@stdFont1, 4);
}

.simpleSampleButtonContainer {
    frame: rect(10, 80, 180, 140);
    backgroundColor: #88cc44;
}

.simpleSampleMainButton {
    bounds: size(160, 40);
    center: parent(0, 0);
    cornerRadius: 6;
    clipsToBounds: YES;
    titleLabel.font: @stdFont2;
    titleColor(highlighted): magenta;
    backgroundImage: @stdColor1;
    title: MainButton;
    transform: identity;
}

button.touched {
    transform: rotate(180);
}

