
/* PrototypeExampleViewController */

.prototypeExampleMainView {
    autoresizingMask: width height;
    backgroundColor: #f0f0f0;

    .mainTitleLabel, .mainSubtitleLabel {
        textColor: magenta;
    }
    
    .prototypeExampleTable {
        frame: parent(100, 10, 10, 10);
        clipsToBounds: YES;
        cornerRadius: 6;
        borderColor: darkGray;
        borderWidth: 1;

        .cellBackgroundView {
            frame: parent;
            backgroundColor: gradient(white, #f0f0f0);
        }
        
        .cellBackgroundViewSelected {
            frame: parent;
            backgroundColor: gradient(#f0f0ff, #dcdcff);
        }

        .prototypeExampleCellLabel1, .prototypeExampleCellLabel2, .prototypeExampleCellLabel3 {
            textColor: #4f4f4f;
        }
        
        .prototypeExampleCellLabel1 {
            frame: rect(5, 2, 120, 21);
            font: HelveticaNeue-CondensedBlack 16;
        }

        .prototypeExampleCellLabel2 {
            frame: rect(5, 21, 120, 21);
            font: HelveticaNeue-CondensedBold 12;
        }

        .prototypeExampleCellLabel3 {
            frame: size(auto, auto).left(50%).right(3%);
            font: HelveticaNeue-UltraLight 36;
            adjustsFontSizeToFitWidth: YES;
            minimumScaleFactor: 0.5;
            textAlignment: right;
        }
        

        /* Examples on how to use pseudo classes to apply conditional styling based on row numer in UITableView: */

        .prototypeExampleCell:nthOfType(even) .prototypeExampleCellLabel3 {
            textColor: darken(green, 25%);
        }

        .prototypeExampleCell:nthOfType(odd) .prototypeExampleCellLabel3 {
            textColor: darken(blue, 25%);
        }
        
        .prototypeExampleCell:firstOfType UILabel {
            textColor: darken(red, 15%);
        }
        
        .prototypeExampleCell:lastOfType UILabel {
            textColor: orange;
        }
    }
}

// Landscape orientation adjustment for tableview:
.prototypeExampleTable:landscape {
    frame: parent(80, 10, 10, 10);
}
