@globalVariableTest: 0.33;

// Test caching using enabled/disabled pseudo class
.class1 uilabel:enabled {
    alpha: 0.25;
}

.class1 uilabel:disabled {
    alpha: 0.75;
}

.class1 uicontrol:enabled uilabel {
    alpha: 0.33;
}

.class1 uicontrol:disabled uilabel {
    alpha: 0.66;
}

.class2 {
    showsTouchWhenHighlighted: YES;
    alpha: 0.99;
}

.class10 {
    alpha: 0.1;
}

.class12 {
    alpha: 0.3;
}

.class11 {
    alpha: 0.2;
}
