@globalVariableTest: 0.33;

// Test caching using enabled/disabled pseudo class
.class1 uilabel:enabled {
    alpha: 0.25;
}

.class1 uilabel:disabled {
    alpha: 0.75;
}

.class1 uicontrol:enabled uilabel {
    alpha: 0.33;
}

.class1 uicontrol:disabled uilabel {
    alpha: 0.66;
}

.class2 {
    showsTouchWhenHighlighted: YES;
    alpha: 0.99;
}

.class10 {
    alpha: 0.1;
}

.classTop {
    .classMiddle {
        .class12 {
            alpha: 0.3;
        }

        .class11 {
            alpha: 0.2;
        }
        
        .abc123 {
            alpha: 0.31;
        }
        
        .123abc {
            alpha: 0.32;
        }

        .zyxvyt {
            alpha: 0.33;
        }
        
        .abc123abc {
            alpha: 0.34;
        }
        
        .123abc123 {
            alpha: 0.35;
        }
    }
}

.class13 {
    alpha: 0.4;
}

.overwriteTest {
    alpha: 0.5;
    titleLabel.alpha: 0.25;
}

.attributedTextTest {
    alpha: 0.5;
    font: HelveticaNeue-Bold 10;
    textColor: #998877;
}

UIView.disabledStylingTest {
    alpha: 0.5;

    UILabel {
        alpha: 0.5;
    }
}

.cascadingStylePropertyOverrideWithDefault1 {
    alpha: 0.666;
}

.cascadingStylePropertyOverrideWithDefault2 {
    alpha: current;
}
